
ALTER TABLE documents ADD COLUMN IF NOT EXISTS client_id UUID REFERENCES clients(id) ON DELETE CASCADE;

-- Add RLS policy for providers to view client documents
CREATE POLICY \
Providers
can
view
documents
for
their
clients\
  ON documents FOR SELECT
  USING (client_id IN (SELECT id FROM clients WHERE provider_id = auth.uid()));

