-- Actualizar los estados de cliente permitidos en la base de datos
ALTER TABLE clients DROP CONSTRAINT IF EXISTS clients_status_check;
ALTER TABLE clients ADD CONSTRAINT clients_status_check CHECK (status IN ('Enquiry', 'CDD', 'Active', 'Stracoff', 'active', 'inactive', 'pending'));
